a.headerlink {
    font-size:          0.5em;
    vertical-align:     super;
    padding-left:       10px;
    opacity:            0.25;
}

a.headerlink:hover {
    opacity:            1.00;
    text-decoration:    none;
}

a.headerlink.hiddenanchor {
    font-size:   0 !important;
    height:      0 !important;
    width:       0 !important;
    line-height: 0 !important;
    padding:     0 !important;
    margin:      0 !important;
}
