a.headerlink {
    font-size:          0.5em;
    vertical-align:     super;
    padding-left:       10px;
    opacity:            0.25;
}

a.headerlink:hover {
    opacity:            1.00;
    text-decoration:    none;
}

table.table-striped {
    border: 1px solid #dfe2e5;
}

table.table-striped thead tr th {
    border-bottom: 0;
    border: 1px solid #dfe2e5;
}

table.table-striped td {
    border-top: 0;
    border: 1px solid #dfe2e5;
}
