h2 {
    margin-top: 2em;
    font-size: 1.8em;
    font-weight: bold;
}

h2:not(:first-of-type)::after {
    content: " ";
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 1.8em;
    font-size: 1.6em;
}
h3::after{
    content: " ";
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

h4 {
    margin-top: 1.5em;
    font-size: 1.4em;
}
h4::after {
    content: " ";
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
